<%- contentFor('body') %>

<div class="container">
  <h1><%= article.title %></h1>
  <p>Chuyên mục: <%= article.category_name %></p>
  <p>Tác giả: <%= article.author_name %></p>
  <p><%= article.content %></p>
</div>
